#topImg {
    animation-name: agrandar;
    animation-duration: 10s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes agrandar {
    0%, 100% {
        transform: scale(1.04);
        
    }
    50% {
        transform: scale(1);
        
    }
}

.topDivIndex {

}

.text-container-principal h1 {
    font-size: 60px;
    margin: 0
}

.text-container-principal h1:nth-child(1) {
    color: white;
    position: relative;
    margin-bottom: -15px;
}

.text-container-principal > h1:nth-child(2) {
    position: relative;
    margin-top: -13px;
}

.text-container-principal div {
    height: 2px;
    width: 500px;
    background: white;
}
.text-container-principal {
    z-index: 4;
    position: relative;
    
}

.topDivIndex > .absolute {
    top: 0;
}

@media only screen and (max-width: 800px) { 

    .text-container-principal div {
        height: 2px;
        width: 92%;
        background: white;
    }

    .text-container-principal > h1 {
        font-size: 40px;
    }

    .text-container-principal h1:nth-child(1) {
        color: white;
        position: relative;
        margin-bottom: -9px;
    }
    
    .text-container-principal > h1:nth-child(2) {
        position: relative;
        margin-top: -13px;
    }
}
/*  */
/*  */
/* NUESTROS SERVICIOS */
/*  */

#services {
    background: #222a2f
}

#services * {
    color: white
}

.mini_line {
    display: block;
    width: 50px;
    height: 4px;
    background: #00375c;
    margin-bottom: 15px;
}
#services .flex {
    justify-content: space-between;
}

#services .flex p {
    font-size: 20px;
}

/*  */
/*  */
/* QUIENES SOMOS */
/*  */

#quienes {
    height: 65vh;
}


/*  */
/*  */
/* NUESTROS TRABAJOS */
/*  */
#works .flex {
    width: 100%;
}

#works .paddingDiv {
    padding: 15px;
    background: #005288d0;
    transition: .3s;
    opacity: 0;
}

#works .paddingDiv:hover {
    opacity: 1;
}

.work_detalils *{
    width: 100%;
}
#works .flex > div {
    width: 33.33%;
    height: 22.33vw;
}

@media only screen and (max-width: 800px) {  
    #works .flex > div {
        width: 100%;
        height: 63vw;
    }
}

/*  */
/*  */
/* NUESTROS CLIENTES */
/*  */

#clients .flex > div{
    width: 25%;
    padding: 10px;
}

#clients .flex > img {
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 800px) {  
    #clients .flex > div{ 
        width: 50%;
    }
}
/*  */
/*  */
/* CONTACTO */
/*  */
#contact {
    background: #222a2f
}

#contact * {
    color: white
}

#contact .flex > div {
    width: 50%;
    padding: 20px;
}

.mailForm input{
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    color: black !important;
}
.mailForm textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    color: black !important;
}

.btn {
    padding: 20px 35px;
    font-size: 20px;
    text-align: center;
    background: #00375c;
    border: none;    
    color: white;
    transition: .3s;
}

.btn:hover {
    background: #134c72;
}

@media only screen and (max-width: 800px) {  
    #contact .flex > div  {
        width: 100%;
    }
}