h1, h2, h3, h4, h5, h6, p, table, td {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}
.font_1 {font: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif ;color:#3C3C4E;} 
.font_2 {font: normal normal bold 80px/1.4em raleway,sans-serif ;color:#1B1B1E;} 
.font_3 {font: normal normal bold 90px/1.4em raleway,sans-serif;color:#1B1B1E;} 
.font_4 {font: normal normal bold 80px/1.4em raleway,sans-serif ;color:#1B1B1E;} 
.font_5 {font: normal normal bold 30px/1.4em raleway,sans-serif ;color:#1B1B1E;} 
.font_6 {font: normal normal bold 16px/1.4em raleway,sans-serif ;color:#1B1B1E;} 
.font_7 {font: normal normal normal 16px/1.4em raleway,sans-serif ;color:#1B1B1E;} 
.font_8 {font: normal normal normal 14px/1.4em raleway,sans-serif ;color:#1B1B1E;} 
.font_9 {font: normal normal normal 12px/1.4em raleway,sans-serif ;color:#3C3C4E;}

p {
    letter-spacing: 0.4px;
    line-height: 22px;
}
.text_center { text-align: center};

.container { 
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 900px;
    padding: 18px;
}
.container2 { 
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 900px; /*ANTES 900*/
    padding: 18px;
}

.line_title {
    display: block;
    width: 70px;
    height: 5px;
    background: #005084;
    margin-bottom: 15px;
}

.title {
    margin-top: 0;
    font-size: 70px;
}


@media only screen and (max-width: 800px) { 
    .title {
        margin-top: 0;
        font-size: 42px;
    }

    .container2 { 
        width: 100%;
        /* max-width: 100%; */
        padding: 20px;
    }
}

/*  */
/*  */
/* MENU PRINCIPAL */
/*  */
.menu-principal {
    position: fixed;
    height: 100px;
    width: 100%;
    padding: 10px;
    background: #002944da;
    top: 0;
    left: 0;
    z-index: 5;
}

.nav-container{
    display: flex;
    margin: 0 auto;
    width: 900px;
    justify-content: space-between;
}

.logo-container-nav img{
    height: 80px;

}

.nav-container .nav-links a {
    padding: 10px;
    color: white;
}
.nav-links {
    display: flex;
    align-items: center;
  }

  .menuIcon {
      display: none;
  }

.movBar {
    display: none !important;
}
@media only screen and (max-width: 930px) { 
    .menuIcon {
        display: flex !important;
    }

    .menuIcon a{
        font-size: 50px;
    }

    .nav-container {
        width: 95%;
    }

    .movBar {
        display: flex !important;
        width: 100%;
        height: 100vh;
        background: #005084;
        transition: .90s ease-in-out;
        z-index: 100;
        padding: 20px;
        top: 0;
        position: fixed;
        left: 0;
        transform: translateX(100%);
    }

    .movBar.show {
        transform: translateX(0);
    }

    .hideBarIcon {
        position: absolute;
        top: 15px;
        right: 15px;
        color: white;
        font-size: 40px; 
    }

    .movBar div  {
        display: block;
        width: 100%;
    }
    .movBar div a {
        width: 100%;
        padding: 11px;
        color: white;
        display: block;
        text-align: center;
        font-size: 18px;
    }
    
}

/*  */
/*  */
/* HELPERS */
/*  */

.flex {
    display: flex !important;
    flex-wrap: wrap;
}

.backgroundImage {
    background-size: cover;
    background-position: center;
}

.fullScreenContainer {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.expandFatherContainerSize {
    width: 100%;
    height: 100%;
}

.absolute {
    position: absolute;
}

.overflowHidden {
    overflow: hidden;
}

section {
    width: 100%;
    padding: 20px 0;
}
.centrarFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.only_pc {}
.only_phone { display: none !important; }

@media only screen and (max-width: 800px) { 
    .only_phone { display: initial !important; }
    .only_pc { display: none !important; }
}

/*  */
/*  */
/* CONTACTO */
/*  */
#contact {
    background: #222a2f
}

#contact * {
    color: white
}

#contact .flex > div {
    width: 50%;
    padding: 20px;
}

.mailForm input{
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    color: black !important;
}
.mailForm textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    color: black !important;
}

.btn {
    padding: 20px 35px;
    font-size: 20px;
    text-align: center;
    background: #00375c;
    border: none;    
    color: white;
    transition: .3s;
}

.btn:hover {
    background: #134c72;
}

@media only screen and (max-width: 800px) {  
    #contact .flex > div  {
        width: 100%;
    }
}

.messageSendingMail.hide {
    display: none;
}
.messageSendingMail.show {
    opacity: 1;
}
.messageSendingMail {
    opacity: 0;
    position: fixed;
    z-index: 100;
    background: rgba(0, 0, 0, 0.846);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    color: white;
    transition: .85s;
    align-items: center;
    font-size: 20px;
}

#messageMail {
    transition: .5s;
}

#messageMail.hide { opacity: 0;}